<h1>Delayed Jobs (<%= Delayed::Job.all.count %>)</h1>

<div class="search">
<%= form_tag(delayed_jobs_path, method: :get) do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search', name: nil %>
  <!--- <%= select(:delayed_job, :queue, [['talk', 'talk'], ['N/A', '']]) %> -->
<% end %>
</div>

<table>
  <tr bgcolor = "#c9c9c9">
    <th>ID</th>
    <th>Queue</th>
    <th>Priority</th>
    <th>Attempts</th>
	  <th>Created At</th>
    <th>Run At</th>
    <th colspan = "2">Actions</th>
  </tr>

	<% @delayed_jobs.each do |delayed_job| %>
    <% if delayed_job.last_error.present? %>
      <% background_color = "ff7f7f" %>
    <% else %>
      <% background_color = "ffffff" %>
    <% end %>
    <tr bgcolor = "#<%= background_color %>">
      <td><%= link_to delayed_job.id, delayed_job_path(delayed_job) %></td>
      <td><%= delayed_job.queue %></td>
      <td><%= delayed_job.priority %></td>
      <td><%= delayed_job.attempts %></td>
      <td><%= delayed_job.created_at.strftime("%I:%M:%S%p on %m/%d/%Y") %></td>
      <td><%= delayed_job.run_at.strftime("%I:%M:%S%p on %m/%d/%Y") %></td>
      <td><%= button_to "Run Job", run_delayed_job_path(delayed_job) %></td>
      <td><%= button_to "Delete", delayed_job_path(delayed_job), :method => :delete, data: { confirm: 'Are you sure?' }, style: "color: red;" %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Jobs', controller: 'job_items'%>